* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    color: #e07a5f;
    margin-bottom: 20px;
}

.input-section {
    margin-bottom: 20px;
}

#taskInput {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #81b29a;
    width: 70%;
}

#addTaskBtn {
    padding: 10px;
    background-color: #f2cc8f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

#addTaskBtn:hover {
    background-color: #81b29a;
}

ul {
    list-style: none;
}

li {
    background-color: #f4a261;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

li button {
    background-color: #e07a5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

li button:hover {
    background-color: #81b29a;
}
